* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #f4f6fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .profile-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 5rem;
  }
  
  .profile-page .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: #08b3e2;
    background: linear-gradient(150deg, #00c6ff 20%, #0072ff 100%);
    z-index: -1;
  }
  
  .profile-page .content {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    position: relative;
    z-index: 2;
    margin: auto;
    padding: 2rem;
    background: #fff;
    border-radius: 2rem;
    box-shadow: 0 15px 35px rgba(50,50,93,0.1), 0 5px 15px rgba(0,0,0,0.07);
  }
  
  .profile-page .content__cover {
    position: relative;
    background: #06aedd;
  }
  
  .profile-page .content__avatar {
    width: 12rem;
    height: 12rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 50%);
    background: url("WhatsApp Image 2025-03-21 at 11.59.31 AM (1).jpg") center center no-repeat; /* Replace with your image URL */
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 15px 35px rgba(50,50,93,0.1), 0 5px 15px rgba(0,0,0,0.07);
  }
  
  .profile-page .content__actions {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
  }
  
  .profile-page .content__actions .button-action {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    text-decoration: none;
    font-size: 1rem;
    background: #05b5e6;
    color: #fff;
    text-align: center;
  }
  
  .profile-page .content__actions .button-action:hover {
    background: #0072ff;
  }
  
  .profile-page .content__title {
    margin-top: 4.5rem;
    text-align: center;
  }
  
  .profile-page .content__title h1 {
    margin-bottom: 0.1rem;
    font-size: 2.4rem;
  }
  
  .profile-page .content__title span {
    font-size: 1rem;
  }
  
  .profile-page .content__description {
    margin-top: 2.5rem;
    text-align: center;
  }
  
  .profile-page .content__description p {
    color: #9e9e9e;
    font-size: 1.1rem;
  }
  
  .profile-page .content__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 3rem;
  }
  
  .profile-page .content__list li {
    font-weight: 500;
    font-size: 1.2rem;
  }
  
  .profile-page .content__list span {
    font-weight: 700;
    color: #07a9d6;
  }
  
  .profile-page .content__button {
    margin-top: 3rem;
    text-align: center;
  }
  
  .profile-page .content__button .button {
    background: #05addb;
    padding: 0.8rem 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-radius: 2rem;
    text-decoration: none;
  }
  
  .profile-page .content__button .button:hover {
    background: #0072ff;
  }
  